.ticket {
    display: inline-block;
    box-sizing : content-box;
    filter : drop-shadow(0 2px 5px rgba(black,.5));
    position : relative;
    height : 1em;
    padding : 1em;
    color : black;
    font-size : 16px;
    background-size : 51% 100%; 
    background-repeat : no-repeat;
    background-image : radial-gradient(circle at 0 50%, rgba(lightyellow,0) .4em,  (.4em + .1em)), radial-gradient(circle at 100% 50%, rgba(lightyellow,0) .4em, lightyellow (.4em + .1em));
    background-position : top left, top right;
  }